<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MC Server Status Website</title>
</head>
<body>
    <form method="post">
        <input type="text" name="javaserver" placeholder="javaserver">
        <input type="submit">
    </form>

    <form method="post">
        <input type="text" name="bedrockserver" placeholder="bedrockserver">
        <input type="submit">
    </form>
    
    <pre>
        {{output}}
    </pre>
</body>
</html>